@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div>
        tag:@ViewContext.RouteData.Values["tag"]

        <br />
        fromurl:@ViewContext.RouteData.Values["fromurl"]
    </div>