################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Mango.AspNetCoreMVCDemo/.vs/Mango.AspNetCoreMVCDemo/v15
/src/Mango.AspNetCoreMVCDemo/Mango.Web/obj
/src/Mango.SignalRDemo/.vs/Mango.SignalRDemo/v15
/src/Mango.SignalRDemo/Mango.SignalRDemo/obj
/src/Mango.AspNetCoreMVCDemo/.vs/Mango.AspNetCoreMVCDemo/v16/Server/sqlite3
*.suo
/src/Mango.AspNetCoreMVCDemo/Mango.Web/bin/Debug/netcoreapp2.2
/src/Mango.AspNetCoreMVCDemo/.vs/Mango.AspNetCoreMVCDemo
/src/Mango.SignalRDemo/.vs/Mango.SignalRDemo/v16/Server/sqlite3
/src/Mango.SignalRDemo/Mango.SignalR.WeChat/bin/Debug/netcoreapp2.2
/src/Mango.SignalRDemo/Mango.SignalR.WeChat/obj
/src/Mango.SignalRDemo/Mango.SignalRDemo/bin/Debug/netcoreapp2.2
